<!DOCTYPE html>
<html>
	<head>
		<title> {{ page.title }} </title>
		<!-- link to main stylesheet -->
		<!--link rel="stylesheet" type="text/css" href="/css/site.css" -->
		<link rel="stylesheet" href="/css/site.css"
		<link rel="stylesheet" href="/css/col.css"
	</head>
	
	<!--body style="background-color:PALETURQUOISE;" -->
  
	<body style="background-color:BLANCHEDALMOND;" >
		
		
		<div class="content container">
    
    {{content}}
        
		</div><!-- /.container -->
	
	</body>
  
  
</html>
